<body id="bg">
<div class="container">
  <h2><%= I18n.t("channels.edit_header") %></h2>

  <% if flash.any? %>
    <div class="alert alert-danger" id="error_explanation">
      <h2><%= I18n.t("errors.messages.not_saved") %></h2>
      <% flash.each do |type, message| %>
        <% message.each do |msg| %>
          <% msg.each do |m| %>
            <ul>
              <li><%= m %></li>
            </ul>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#local"><%= I18n.t("channels.local") %></a></li>
    <li><a data-toggle="tab" href="#global"><%= I18n.t("channels.global") %></a></li>
  </ul>

  <%= form_with(model: @current_channel, local: true) do |f| %>
    <%= render 'shared/errors', object: @current_channel %>
    <div class="tab-content">
      <div id="local" class="tab-pane in active title">
        <%= hidden_field(:channel, :platform, {value: @current_channel.platform.title}) %>
        <h3><%= I18n.t("channels.main") %></h3>
        <% if @current_channel.platform.title == "telegram" %>
          <div class="row">
            <div class="col-xs-8 col-sm-4 col-md-9">
              <%= f.check_box :enabled, { checked: @current_channel.enabled } %>
              <%= f.label I18n.t("channels.enable") %>
            </div>
            <div class="col-xs-8 col-sm-4 col-md-9">
              <%= f.label I18n.t("channels.bot_token") %>
              <%= f.text_field :token, { class: "form-control", autofocus: true, required: true, placeholder: "1234567890:ABCDEFGHIGKLMNOPQ-RSTUVWXYZ12345678" } %>
            </div>
            <div class="col-xs-8 col-sm-4 col-md-9">
              <%= f.label I18n.t("channels.channel_identifier") %>
              <%= f.text_field :room, { class: "form-control", required: true, placeholder: "-0123456789000" } %>
            </div>
            <div class="col-xs-8 col-sm-4 col-md-9">
              <%= f.label I18n.t("channels.channel_identifier_for_att") %>
              <%= f.text_field :room_attachments, { class: "form-control", placeholder: "-0123456789000", value: @current_channel.options["room_attachments"] } %>
            </div>
            <div class="col-xs-8 col-sm-4 col-md-9">
              <%= f.label I18n.t("channels.author_identifier") %>
              <%= f.text_field :author, { class: "form-control", placeholder: "1234567890", value: @current_channel.options["author"] } %>
            </div>
            <div class="col-xs-8 col-sm-4 col-md-9 field"><br>
              <%= f.check_box :enable_comments, { checked: @current_channel.options["comments_enabled"] } %>
              <%= f.label I18n.t("channels.enable_comments") %>
            </div>
          </div>
          <h3><%= I18n.t("channels.options") %></h3>
          <div class="row">
            <div class="col-xs-8 col-sm-4 col-md-9 field"><br>
              <%= f.check_box :enable_notifications, { checked: @current_channel.options["notifications_enabled"] } %>
              <%= f.label I18n.t("channels.option_enable_notifications") %>
            </div>
            <center><%= f.submit I18n.t("channels.update"), class: "col-md-3 btn btn-primary col-md-offset-3" %></center>
          </div>
        <% elsif @current_channel.platform.title == "matrix"%>
          <div class="row">
            <div class="col-xs-8 col-sm-4 col-md-9">
              <%= f.check_box :enabled, { checked: @current_channel.enabled } %>
              <%= f.label I18n.t("channels.enable") %>
            </div>
            <div class="col-xs-8 col-sm-4 col-md-9">
              <%= f.label I18n.t("channels.access_token") %>
              <%= f.text_field :token, { class: "form-control", autofocus: true, required: true, placeholder: "...ABCDEFGHIJKLMNOPQRSTUVWXYZ...." } %>
            </div>
            <div class="col-xs-8 col-sm-4 col-md-9">
              <%= f.label I18n.t("channels.channel_identifier") %>
              <%= f.text_field :room, { class: "form-control", required: true, placeholder: "!abcDEfGHIJKlmNoPQR:matrix.org" } %>
            </div>
            <div class="col-xs-8 col-sm-4 col-md-9">
              <%= f.label I18n.t("channels.api_server_address") %>
              <%= f.text_field :server, { class: "form-control", placeholder: "https://matrix.org/_matrix/", value: @current_channel.options["server"] } %>
            </div>
          </div>
          <div class="row">
            <br>
            <center><%= f.submit I18n.t("channels.update"), class: "col-md-3 btn btn-primary col-md-offset-3" %></center>
          </div>
        <% end %>
      </div>
      <div id="global" class="tab-pane title">
        Not yet! D:
      </div><br>
    </div>
    <% end %>
  <%= link_to "<--- #{I18n.t("posts.back")}", edit_user_path, data: { confirm: "#{I18n.t("posts.back_confirm")}" }%>
</div>
</body>

<%= javascript_include_tag 'application.js' %>

<script>
    var alert = document.getElementsByClassName('need2hide');
    for (var i = 0; i < alert.length; i ++) {
        alert[i].style.display = 'none';
    }

    $('select#channel_platform').bind('change', function() {
        $('.platform-field').hide();
        $('.platform-field input').attr('disabled', true);
        var selection = $(this).val();
        $('#' + selection).show();
        $('#' + selection + ' input').attr('disabled', false);
    }).change();
</script>