<h2><%=I18n.t("auth.sign_in_header")%></h2>

<div class="block">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label I18n.t("auth.login") %><br />
    <%= f.text_field :login, autofocus: true, autocomplete: "login" %>
  </div>

  <div class="field">
    <%= f.label I18n.t("auth.password") %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label I18n.t("auth.remember_me") %>
    </div>
  <% end %>

    <p><%= f.label I18n.t("auth.captcha") %><br />
      <%= captcha_tag %><br>
      <%= f.text_field :captcha %>
    </p>

  <div class="actions">
    <%= f.submit I18n.t("auth.sign_in_button") %>
  </div>
<% end %>
</div>
<p><%= link_to "<--- #{I18n.t("posts.main_page")}", root_path %> | <%= link_to "#{I18n.t("edit.sign_up")}", sign_up_path %> </p>