<% date = post.created_at.strftime("%Y-%m-%d") %>

<%if date != @last_date %>
  <div class="datestamp"><div class="text-date"><%=date%></div></div>
  <% @last_date = date %>
<%end%>

<article id="<%=post.id%>" class="feed">
  <div class="user">
    <div class="user-avatar feed-icon">
      <%if post.user.avatar.present?%>
        <img alt="img" onerror="this.style.display = 'none'" lazy-progressive="true" src=<%=url_for(post.user.avatar)%> lazy="loaded">
      <%end%>
    </div>
    <div class="name"><a href="?user=<%=post.user.id%>"><%=display_name(post.user)%></a></div>
    <div class="views"><i class="fa fa-light fa-eye"></i> <%= post.views %> |</div>
    <div class="createdAt"><a href="?id=<%=post.id%>"><%=post.created_at.strftime("%H:%M:%S")%></a></div>
    <%= render "privacy-icons", object: post %>
  </div>
    
  <div id="<%=post.id%>" class="text">
    <%= markdown(post.title) if post.title.present?%>
    <%= markdown(post.text) %>
  </div>
                
  <%if post.content_attachments&.any?%>
    <%=display_feed_attachments(post)%>
  <%end%>
  <div class="footer">
    <a class="item-right" href="?id=<%=post.id%>"><i class="fa fa-commenting-o"> <%= I18n.t("comments.comment_header") %> (<%= post.comments.count %>)</i></a>
    <%if params[:id].present?%>
      <%= render "posts/comments" %>
    <%end%>
  </div>
</article>