<% date = post.created_at.strftime("%Y-%m-%d") %>

<%if date != @last_date %>
  <div class="datestamp"><div class="text-date"><%=date%></div></div>
  <% @last_date = date %>
<%end%>

<article id="<%=post.uuid%>" class="feed">
  <!--
  <% if post.category.present? %>
    <div class="category" style="<%="border-left: none; background-color: #{post.category.color};"%>"></div>
  <% end %>
  -->
  <div class="user">
    <div class="user-avatar feed-icon">
      <%if post.user.avatar.present?%>
        <img alt="img" onerror="this.style.display = 'none'" lazy-progressive="true" src=<%=url_for(post.user.avatar)%> lazy="loaded">
      <%end%>
    </div>
    <div class="name"><a href="?user=<%=post.user.id%>"><%=display_name(post.user)%></a></div>
    <div class="views"><i class="fa fa-light fa-eye"></i> <%= post.views %> |</div>
    <div class="createdAt"><a href="?uuid=<%=post.uuid%>"><%=post.created_at.strftime("%H:%M:%S")%></a></div>
    <%= render "privacy-icons", object: post %>
  </div>
    
  <div id="<%=post.uuid%>" class="text">
    <%= markdown(post.title) if post.title.present?%>
    <%= markdown(post.text) %>
  </div>
                
  <%if post.content_attachments&.any?%>
    <%=display_feed_attachments(post)%>
  <%end%>
  <div class="footer">
    <% if post.platform_posts.any? %>
    <% r = render_feed_published_flatforms(post) %>
      <% unless r.empty? %>
      <div class="platforms">
          <%= r %>
          <!-- <div class="platform-tg">Telegram debug></div><div class="platform-mx">Matrix debug></div><div class="platform-mx">Matrix debug></div><div class="platform-mx">Matrix debug></div><div class="platform-mx">Matrix debug></div><div class="platform-tg">Telegram debug></div><div class="platform-tg">Telegram debug></div><div class="platform-tg">Telegram debug></div><div class="platform-tg">Telegram debug></div><div class="platform-tg">Telegram debug></div><div class="platform-tg">Telegram debug></div><div class="platform-tg">Telegram debug></div> -->
      </div>
      <% end %>
    <% end %>
    <a class="item-right" href="?uuid=<%=post.uuid%>"><i class="fa fa-commenting-o"> <%= I18n.t("comments.comment_header") %> (<%= post.comments.count %>)</i></a>
    <%if params[:uuid].present?%>
      <%= render "posts/comments" %>
    <%end%>
  </div>
</article>