<html>
  <div class="main-page">
    <div class="information-left">
      <div class="header"> <!-- <header>text</header> ??? Hahaha, no. -->
        Hello, world!
      </div>
      <div class="contaner">
        <div class="small-header">
          (!dlrow, olleH)
        </div>
        <pre class="ascii">
            __
           / /   ____  ________  ____ ___
          / /   / __ \/ ___/ _ \/ __ `__ \
         / /___/ /_/ / /  /  __/ / / / / /
        /_____/\____/_/   \___/_/ /_/ /_/
        </pre>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ultricies, lorem at tristique consectetur, odio orci feugiat dui, vitae tempus eros ipsum cursus metus.
          Phasellus dictum nibh eget nisl luctus molestie. Proin egestas semper neque, vel mattis dui laoreet vel. In dignissim maximus metus, et semper enim dignissim dapibus.
          Aenean pretium ante eget ornare tristique. Donec est enim, venenatis vel vestibulum at, tincidunt quis elit. Nullam non sem urna.
          Morbi orci augue, mattis vel augue nec, volutpat vulputate magna.
        <!-- RSS -->
        <pre class="ascii">
            __
           / /   ____  ________  ____ ___
          / /   / __ \/ ___/ _ \/ __ `__ \
         / /___/ /_/ / /  /  __/ / / / / /
        /_____/\____/_/   \___/_/ /_/ /_/
        </pre>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ultricies, lorem at tristique consectetur, odio orci feugiat dui, vitae tempus eros ipsum cursus metus.
          Phasellus dictum nibh eget nisl luctus molestie. Proin egestas semper neque, vel mattis dui laoreet vel. In dignissim maximus metus, et semper enim dignissim dapibus.
          Aenean pretium ante eget ornare tristique. Donec est enim, venenatis vel vestibulum at, tincidunt quis elit. Nullam non sem urna.
          Morbi orci augue, mattis vel augue nec, volutpat vulputate magna.
        </p>
        <pre class="ascii">
            __
           / /   ____  ________  ____ ___
          / /   / __ \/ ___/ _ \/ __ `__ \
         / /___/ /_/ / /  /  __/ / / / / /
        /_____/\____/_/   \___/_/ /_/ /_/
        </pre>
        <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ultricies, lorem at tristique consectetur, odio orci feugiat dui, vitae tempus eros ipsum cursus metus.
      Phasellus dictum nibh eget nisl luctus molestie. Proin egestas semper neque, vel mattis dui laoreet vel. In dignissim maximus metus, et semper enim dignissim dapibus.
      Aenean pretium ante eget ornare tristique. Donec est enim, venenatis vel vestibulum at, tincidunt quis elit. Nullam non sem urna.
      Morbi orci augue, mattis vel augue nec, volutpat vulputate magna.
        </p>
      </div>
    </div>
    <div class="information-right">
      <div class="block-login">
        <%= I18n.t("main.logged_as") %>:
        <%if current_user.present? %>
          <a href="edit"><%=current_user.login%></a> |
          <%= link_to I18n.t("main.log_out"), "sign_out"%>
        <% else %>
          <%= I18n.t("main.guest") %> |
          <%= link_to I18n.t("main.log_in"), "sign_in"%> |
          <%= link_to I18n.t("main.register"), "sign_up"%>
        <% end %>
        <% if current_user.present? && current_user.is_admin %>
          <br><a target="_blank" href="posts/new"><%=I18n.t("main.new_post")%></a> | <a href="posts"><%=I18n.t("main.all_posts")%></a> (<a href="posts?user=<%=current_user.login%>"><%=current_user.posts.count%></a>)
          <br><a target="_blank" href="tags/manage"><%=I18n.t("main.manage_tags")%></a> (<%=Tag.count%>)
        <% elsif current_user.present? %>
          <a href="posts"><%=I18n.t("main.all_posts")%></a> (<a href="posts?user=<%=current_user.login%>"><%=current_user.posts.count%></a>)
        <% end %>
      </div>
      <div class="block"> <%= I18n.t("main.links") %>:
        <table>
          <tbody>
          <tr>
            <th class="icon"></th>
            <th></th>
          </tr>
          <tr>
            <td><i class="fa fa-rss"></i></td>
            <td><a target="_blank" href=<%=current_user.present? ? "/rss?rss_token=#{current_user[:rss_token]}" : "/rss" %>><%= current_user.present? ? "RSS" : "RSS #{I18n.t("main.please_log_in")}"%></a></td>
          </tr>
          <%= table_link_columns %>
          </tbody>
        </table>
      </div>
      <div class="block"> <%= I18n.t("main.contacts") %>:
        <table>
          <tbody>
          <tr>
            <th class="icon"></th>
            <th></th>
          </tr>
          <%= table_contacts_columns %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</html>