<h2>New tag</h2>

<div class="block">
  <%= form_with(model: Tag.new) do |f| %>
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
    </div>

    <div class="field">
      <%= f.check_box :enabled_by_default %>
      <%= f.label "Enabled by default for users" %>
    </div><br />

    <div class="actions">
      <%= f.submit "Create" %>
    </div>
  <% end %>
</div>
<h2>Update tags</h2>

<div class="block">
  <%= form_with url: "/tags/update", method: :post do |f| %>

    <div class="field">
      <%= f.label :tags %><br />
      <% Tag.all.each do |tag| %>
        <%=check_box("tags", tag.id, {:checked => tag.enabled_by_default})%><%=tag.name%>
      <% end %>
    </div><br />

    <div class="actions">
      <%= f.submit "Update" %>
    </div>
  <% end %>
</div>

<h2>Rename tag</h2>

<div class="block">
  <%= form_with url: "/tags/rename", method: :post do |f| %>

    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
    </div><br />

    <div class="field">
      <%= f.label :new_name %><br />
      <%= f.text_field :new_name, autofocus: true, autocomplete: "new_name" %>
    </div><br />

    <div class="actions">
      <%= f.submit "Rename" %>
    </div>
  <% end %>
</div>

<h2>Delete tag</h2>
<div class="block">
  <% if Tag.last.present? %>
    <%= form_for(Tag.last, :html => { :method => :delete, :remote => true }) do |f| %>
      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
      </div><br />

      <div class="actions">
        <%= f.submit "Delete" %>
      </div>
    <% end %>
  <% else %>
    tags not found!
  <% end %>
</div>
<p><%= link_to "<--- Main page", root_path %></p>