<h2><%= I18n.t("tags.tags_header") %></h2>

<div class="block">
  <%= form_with(model: Tag.new) do |f| %>
    <div class="field">
      <%= f.label I18n.t("tags.name") %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
    </div>

    <div class="field">
      <%= f.check_box :enabled_by_default %>
      <%= f.label I18n.t("tags.enabled_by_default") %>
    </div><br />

    <div class="actions">
      <%= f.submit I18n.t("tags.create") %>
    </div>
  <% end %>
</div>
<h2><%= I18n.t("tags.update_tags") %></h2>

<div class="block">
  <%= form_with url: "/tags/update", method: :post do |f| %>

    <div class="field">
      <%= f.label :tags %><br />
      <% Tag.all.each do |tag| %>
        <%=check_box("tags", tag.id, {:checked => tag.enabled_by_default})%><%=tag.name%>
      <% end %>
    </div><br />

    <div class="actions">
      <%= f.submit I18n.t("tags.update") %>
    </div>
  <% end %>
</div>

<h2><%= I18n.t("tags.rename_tags") %></h2>

<div class="block">
  <%= form_with url: "/tags/rename", method: :post do |f| %>

    <div class="field">
      <%= f.label I18n.t("tags.name") %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
    </div><br />

    <div class="field">
      <%= f.label I18n.t("tags.new_name") %><br />
      <%= f.text_field :new_name, autofocus: true, autocomplete: "new_name" %>
    </div><br />

    <div class="actions">
      <%= f.submit I18n.t("tags.rename") %>
    </div>
  <% end %>
</div>

<h2><%= I18n.t("tags.delete_tags") %></h2>
<div class="block">
  <% if Tag.last.present? %>
    <%= form_for(Tag.last, :html => { :method => :delete, :remote => true }) do |f| %>
      <div class="field">
        <%= f.label I18n.t("tags.name") %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
      </div><br />

      <div class="actions">
        <%= f.submit I18n.t("tags.delete") %>
      </div>
    <% end %>
  <% else %>
    <%= I18n.t("tags.not_found") %>
  <% end %>
</div>
<p><%= link_to "<--- #{I18n.t("posts.main_page")}", root_path %></p>