<br>
<% if @post.comments.any? %>
  <div class="comments-container comments-width">
    <div class="comment-header"><%= I18n.t("comments.comment_header") %>:</div>
  <% @post.comments.each do |comment| %>
      <% user = comment.platform_user %>
      <div class="comment">
        <div class="comment-avatar"><% if user.avatar.present?%><%= image_tag url_for(user.avatar) %><% end %></div>
        <% name = comment.get_username %>
        <div class="comment-metadata"><%= name[:name] %> <i class="comment-small">- <%= comment.created_at.strftime("%Y-%m-%d %H:%M") %> | <%= user["identifier"].dig("username").present? ? link_to(user.platform.title.capitalize, "https://t.me/#{user["identifier"].dig("username")}" ) : user.platform.title.capitalize %></i><i class="comment-small right">ID: <%= comment.platform_user.identifier["id"] %></i></div>
        <%= comment.text %>
        <% if comment.has_attachments %>
          <hr style="border-top: dashed 2px;" />
          <%= display_comment_attachments(comment) if comment.attachments.any? %>
        <% end %>
      </div>
      <br> <!-- May delete (reply?) -->
  <% end %>
  </div>
<% else %>
  <div class="comments-container comments-width"><center><%= I18n.t("comments.comments_not_found") %></center></div>
<% end %>