<div class="<%= post.present? ? "links-header" : "links-header links-header-posts" %>">
    <%= link_to current_user&.present? ? "#{I18n.t("posts.profile")}" : "#{I18n.t("auth.sign_in_header")}", edit_user_path %>
    <%= link_to " | #{I18n.t("auth.sign_up_header")}", sign_up_path if !current_user&.present? %>
    <%= link_to "| #{I18n.t("posts.main_page")}", root_path if Rails.configuration.credentials[:root_page] != 1%>
    <%= link_to "| #{I18n.t("posts.all_posts")}", posts_url if post.present? && post_path(post.uuid)%>
    <%= link_to "| #{I18n.t("posts.add_post")}", posts_new_path if current_user&.is_admin?%>
    <%= link_to "| #{I18n.t("posts.import")}", import_post_path if current_user&.is_admin?%>
    <%= link_to "| #{I18n.t("posts.reset_filters")}", posts_path if params.has_key?(:tags) || params.has_key?(:user) || params.has_key?(:search) || params.has_key?(:category)%>
    <% if !post %>
        <input type="text" class="search" placeholder="Search..." />
    <% end %>
</div>