<body style="background: #181a1b;">
  <div class="container">
    <h2>Edit post</h2>

    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#markdown">Markdown</a></li>
      <li><a data-toggle="tab" href="#attachments">Attachments</a></li>
      <li><a data-toggle="tab" href="#other">Other</a></li>
    </ul>

    <%= form_with(model: @post, local: true) do |f| %>
      <%= render 'shared/errors', object: @post %>
      <% platforms = @post.platforms %>
      <div class="tab-content">
        <div id="markdown" class="tab-pane in active title">
          <%= f.text_field(:title, { class: 'form-control', placeholder: "Enter title...", value: @post.title }) %>
          <div class="markdown-editor">
            <%= f.text_area :content, placeholder: "Enter some text...", value: @post.get_content %>
            <div id="preview" class="preview"></div>
          </div>
          <p id="chars" class="chars"><%=@post.get_content.length%> chars</p>
        </div>
        <div id="attachments" class="tab-pane">
          <h3>Current attachments:</h3>
          <% if platforms.empty? || platforms.values.exclude?(true)%>
            <div class="dropzone dropzone-default dz-clickable" data-controller="dropzone" data-dropzone-max-file-size="10" data-dropzone-max-files="10">
              <%= f.file_field :attachments, multiple: true, direct_upload: true, data: { target: 'dropzone.input' } %>
              <div class="dropzone-msg dz-message needsclick">
                <h3 class="dropzone-msg-title">Drag here to upload or click here to browse</h3>
                <span class="dropzone-msg-desc text-sm">10 MB file size and count maximum. Allowed file types png, jpg.</span>
              </div>
            </div>
          <% end %>
          <% attachments = @post.get_content_attachments %>
          <% if attachments.any? %>
            <div class="content-attachments">
            <% attachments.each do |att| %>
                <div class="attachment"> <!-- TODO? -->
                <%  case %>
                <%  when att.image? %>
                    <a target="_blank" href="<%=url_for(att)%>"><%= image_tag url_for(att.variant(resize_to_limit: [150, 150])) %></a>
                <%  when att.video? %>
                    <a target="_blank" href="<%=url_for(att)%>"><%= image_tag url_for(att.preview(resize_to_limit: [150,150]).processed) %></a>
                <%  when att.audio? %>
                    <a target="_blank" href="<%=url_for(att)%>"><%= audio_tag(url_for(att), autoplay: false, controls: true) %></a>
                <%  else %>
                    <a target="_blank" href="<%=url_for(att)%>"><%= image_tag url_for("/assets/file.png") %></a>
                <% end %>

                <%=check_box("deleted_attachments", att.blob.signed_id, {:checked => true})%> <%=att.filename%><br>
                </div>
            <% end %>
            </div>
          <% else %>
            <p>Post has no attachments!</p>
          <% end %>
        </div>
        <div id="other" class="tab-pane">
          <h3>Platforms</h3>
          <% if platforms.any? && platforms.values.include?(true)%>
            <div class="colorful-checkboxes">
              <% platforms.each do |k, v| %>
                <% if v # don't display disabled platforms %>
                  <%=check_box("platforms", k, { :class=>"colorful-checkbox", :checked => v })%>
                  <%=label_tag "platforms_#{k}", k.capitalize%>
                <% end %>
              <% end %>
            </div>
          <% else %>
            <p>Platforms not found!</p>
          <% end %>
          <h3>Tags</h3>
          <% tags = ItemTag.where(item: @post) %>
          <% if tags.present? %>
            <% ItemTag.where(item: @post).each do |item| %>
              <%=check_box("tags", item.tag.id, {:checked => item.enabled})%> <%=item.tag.name%>
            <% end %>
          <% else %>
            <p>Tags not found!</p>
          <% end %>
        </div>
      </div>
      <%= f.submit %> <% end %>
  </div>
</body>

<%= javascript_include_tag 'application.js' %>
<%= javascript_include_tag 'showdown.min.js' %>
<%= javascript_include_tag 'script.js' %>