<body style="background: #181a1b;">
  <div class="posts-container">

  <section>
    <center>
      <%= link_to "#{I18n.t("posts.profile")} |", edit_user_path %>
      <%= link_to I18n.t("posts.main_page"), root_path%>
      <%= link_to "| #{I18n.t("posts.add_post")}", posts_new_path if current_user.present? && current_user.is_admin%>
      <%= link_to "| #{I18n.t("posts.import")}", import_post_path if current_user.present? && current_user.is_admin%>
      <%= link_to "| #{I18n.t("posts.reset_filters")}", posts_path if params.has_key?(:tags) || params.has_key?(:user)%>
    </center>
    <% @post.each do |post| %>
    <article>
      <header>
        <h1>
          <i class="fa fa-commenting-o right-small comments"> <%= post.comments.count %></i>
          <a href="/posts/<%= post.id %>"><%= post.title.present? ? post.title : "##{post.id}" %> </a>
            <%= render "privacy-icons", object: post %>
            <% if post.get_content_attachments.present? && post.get_content_attachments.select{ |b| !b.image? && !b.video? && !b.audio? }.any? %>
            <a><i class="fa fa-file right-small"></i></a>
            <% end %>
          </a>
        </h1>
        <p class="metadata"><i class="fa fa-clock-o"> <%= I18n.t("posts.publish_date") %>: <%= post.created_at.strftime("%Y.%m.%d %H:%M") %></i></p>
        <p class="metadata">
          <i class="fa fa-user-circle"> <%= I18n.t("posts.author") %>: <a href="posts?user=<%=post.user.login%>"><%= post.user.login %></a>
          <% if current_user == post.user %>
            | <a href="/posts/<%=post.id%>/edit"><%= I18n.t("posts.edit_post") %></a>
            | <a href="/posts/delete/<%=post.id%>" data-confirm="<%= I18n.t("posts.delete_post_confirm") %>"><%= I18n.t("posts.delete_post") %></a>
            | <a href="/posts/export/<%=post.id%>"><%= I18n.t("posts.export") %></a>
          <% end %>
          </i>
        </p>
      </header>
      <%= display_attachments(post) if post.get_content_attachments.present? %>
      <div class="posts-content"><% if post.get_content.length > 512 %>
          <%= markdown(truncate(strip_tags(post.get_content), length: 512)) %>
          <%= link_to "...#{I18n.t("posts.read_more")}", "posts/#{post.id}", class: "read-more-#{post.id}" %>
        <% else %>
          <%= markdown(strip_tags(post.get_content)) %>
        <% end %>
      </div>
    </article>
    <% end %>
    <center> <%= will_paginate @post %> </center>
  </section>

  </div>
</body>