<h1>All posts</h1><br />
<% @post.each do |post| %>

  <a href="/posts/<%= post.id %>">
    <h1><%= post.title %>
      <br>
      <hr>
    </h1>
    <br>
  </a>
  Дата создания: <%= post.created_at %> | Автор: <a href="posts?user=<%=post.user.login%>"><%= post.user.login %></a><% if current_user == post.user %> | <a href="posts/<%=post.id%>/edit">Редактировать</a><% end %>
  <br>
  <br>
  <div class="post-preview">  <% if post.content.length > 300 %>
      <%= markdown(truncate(strip_tags(post.content), length: 300)) %>
      <%= link_to '...Read more', "posts/#{post.id}", class: "read-more-#{post.id}" %>
    <% else %>
      <%= markdown(strip_tags(post.content)) %>
    <% end %></div>
  <br>
  <br>
<% end %>

<p><%= link_to "<--- Main page", root_path %>