<body style="background: #181a1b;">
  <div class="posts-container">

  <section>
    <% @post.each do |post| %>
    <article>
      <header>
        <h1>
          <a href="/posts/<%= post.id %>"><%= post.title %></a>
        </h1>
        <p class="metadata"><i class="fa fa-clock-o"> Дата публикации: <%= post.created_at.strftime("%d.%m.%y %H:%M") %></i></p>
        <p class="metadata">
          <i class="fa fa-user-circle"> Автор: <a href="posts?user=<%=post.user.login%>"><%= post.user.login %></a>
          <% if current_user == post.user %> | <a href="posts/<%=post.id%>/edit">Редактировать</a> | <a href="/posts/delete/<%=post.id%>" data-confirm="Are you sure?">Удалить статью</a><% end %>
          </i>
        </p>
      </header>
      <% post.get_content_attachments.each do |att| %>
        <% size = case post.get_content_attachments.count%>
                  <% when 1 %>
                  <% 300 %>
                  <% when 2 %>
                    <% 250 %>
                  <% when 3 %>
                    <% 200 %>
                  <% when 4,5 %>
                    <% 150 %>
                  <% else %>
                    <% 100 %>
                  <% end %>
        <a target="_blank" href="<%=url_for(att)%>"><%= image_tag url_for(att.variant(resize_to_limit: [size, size])) %></a>
      <% end %>
      <div class="posts-content"><% if post.get_content.length > 512 %>
          <%= markdown(truncate(strip_tags(post.get_content), length: 512)) %>
          <%= link_to '...Read more', "posts/#{post.id}", class: "read-more-#{post.id}" %>
        <% else %>
          <%= markdown(strip_tags(post.get_content)) %>
        <% end %>
      </div>
    </article>
    <% end %>
    <center>
      <%= link_to 'На главную', root_path%>
      <%= link_to '| Добавить статью', posts_new_path if current_user.is_admin%>
    </center>
  </section>

  </div>
</body>