<body id="bg">
  <div class="posts-container">

  <section>
      <%= render partial: "posts/links_header", locals: { post: nil } %>
    <br>

    <% if params[:search].present? && (@posts.count == 0) %>
      <article>
        <hr>
        <center><%= I18n.t("posts.search_without_results") %></center>
      </article>
    <% end %>

    <% @posts.each do |post| %>
    <article>
       <%= render partial: "posts/post_header", locals: { post: post } %>
      <%= display_attachments(post) if post.content_attachments.present? %>
      <div class="posts-content"><% if post.text.length > 512 %>
          <%= markdown(truncate(post.text, length: 512)) %>
          <%= link_to "...#{I18n.t("posts.read_more")}", "posts/#{post.uuid}", class: "read-more-#{post.uuid}" %>
        <% else %>
          <%= markdown(post.text) %>
        <% end %>
      </div>
    </article>
    <% end %>
    <center> <%= will_paginate(@posts, renderer: WillPaginate::ActionView::LinkRenderer) %> </center>
  </section>

  </div>
</body>

<%= javascript_include_tag 'application.js', "data-turbo-track": "reload" %>
<%= javascript_include_tag 'search.js', "data-turbo-track": "reload" %>