<body id="bg">
  <div class="container">
    <h2><%= I18n.t("posts.new_header") %></h2>

    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#markdown"><%= I18n.t("posts.markdown") %></a></li>
      <li><a data-toggle="tab" href="#attachments"><%= I18n.t("posts.attachments") %></a></li>
      <li><a data-toggle="tab" href="#other"><%= I18n.t("posts.other") %></a></li>
    </ul>

    <%= form_with(model: Post.new(user: @current_user)) do |f| %>
      <%= render 'shared/custom_errors', flash: flash %>
      <div class="tab-content">
        <div id="markdown" class="tab-pane in active title">
          <%= f.text_field(:title, { class: 'form-control', placeholder: "#{I18n.t("posts.title_placeholder")}" }) %>
          <div class="markdown-editor">
            <%= f.text_area :content, placeholder: "#{I18n.t("posts.text_placeholder")}" %>
            <div id="preview" class="preview"></div>
          </div>
          <p id="chars" class="chars">0 chars</p>
        </div>
        <div id="attachments" class="tab-pane">
          <div class="dropzone dropzone-default dz-clickable" data-controller="dropzone" data-dropzone-max-file-size="<%=Rails.configuration.credentials[:max_file_size]%>" data-dropzone-max-files="<%=Rails.configuration.credentials[:max_upload_files]%>">
            <%= f.file_field :attachments, multiple: true, direct_upload: true, data: { target: 'dropzone.input' } %>
            <div class="dropzone-msg dz-message needsclick">
              <h3 class="dropzone-msg-title"><%= I18n.t("posts.attachments_msg_title") %></h3>
              <span class="dropzone-msg-desc text-sm"><%= "#{I18n.t("posts.attachments_msg_max_size")}: #{Rails.configuration.credentials[:max_file_size]} MB;  #{I18n.t("posts.attachments_msg_max_count")}: #{Rails.configuration.credentials[:max_upload_files]}" %></span>
            </div>
          </div>
        </div>
        <div id="other" class="tab-pane">
          <h3><%= I18n.t("posts.channels") %></h3>

          <% if @current_user.channels.where(enabled: true).any? %>
            <div class="colorful-checkboxes">
              <% @current_user.channels.where(enabled: true).each do |channel| %>
                <% title = channel.options&.dig("title") %>
                <% if channel.platform.title == "telegram" %>
                  <%=check_box("channels", channel.id, { "data-toggle" => "collapse", "data-target"=>"#options-#{channel.id}", :class=>"colorful-checkbox", :checked => false })%>
                  <%= label_tag "channels_#{channel.id}", title&.capitalize %>
                  <div id="options-<%=channel.id%>" class="collapse">
                    * <%=check_box("options", "enable_notifications_#{channel.id}", { :id=> "enable_notifications_#{channel.id}", :class=>"colorful-checkbox", :checked => channel.options["notifications_enabled"] })%>
                    <%= label_tag "enable_notifications_#{channel.id}", "Enable notifications?" %>

                    * <%=check_box("options", "onlylink_#{channel.id}", { :id=> "onlylink_#{channel.id}", :class=>"colorful-checkbox", :checked => false })%>
                    <%= label_tag "onlylink_#{channel.id}", "Publish only link?" %>

                    * <%=check_box("options", "caption_#{channel.id}", { :id=> "caption_#{channel.id}", :class=>"colorful-checkbox", :checked => false })%>
                    <%= label_tag "caption_#{channel.id}", "Text is caption (if available?)" %>
                  </div>
                  <% else %>
                  <%=check_box("channels", channel.id, { "data-toggle" => "collapse", "data-target"=>"#options-#{channel.id}", :class=>"colorful-checkbox", :checked => false })%>
                  <%= label_tag "channels_#{channel.id}", title&.capitalize %>
                  <div id="options-<%=channel.id%>" class="collapse">
                    * <%=check_box("options", "onlylink_#{channel.id}", { :id=> "onlylink_#{channel.id}", :class=>"colorful-checkbox", :checked => false })%>
                    <%= label_tag "onlylink_#{channel.id}", "Publish only link?" %>
                  </div>
                <% end %>
                <br>
              <% end %>
            </div>
          <% else %>
            <p><%= I18n.t("posts.channels_not_found") %></p>
          <% end %>

          <div class="form-group">
            <h3><%= I18n.t("posts.category") %></h3>
            <% if @current_user.categories.any? %>
              <% categories = @current_user.categories.order(:sort).collect{ |cat| [cat.name, cat.id] } %>
              <% categories.unshift(["-- #{I18n.t("posts.no_category")} --", nil])%>
              <%= f.select(:category, categories) %>
            <% end %><br><br>
            <div class="form-inline">
              <div class="form-group">
                <%= f.text_field :category_name, size: 20, class: "form-control", autofocus: true, placeholder: I18n.t("posts.new_category") %>
                <%= f.color_field :category_color, class: "color-picker" %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <h3><%= I18n.t("posts.privacy") %></h3>
            <%= f.select(:privacy, [[I18n.t("posts.privacy_public"), 0], [I18n.t("posts.privacy_registered"), 1], [I18n.t("posts.privacy_onlyme"), 2]], required: true) %>
          </div>
          <div class="colorful-checkboxes" style="display: inherit">
            <%= f.check_box(:is_hidden, { :class=>"colorful-checkbox", :checked => false }) %>
            <%= f.label :is_hidden, I18n.t("posts.is_hidden") %>
          </div>
          <div class="tags">
            <h3><%= I18n.t("posts.tags") %></h3>
            <% if Tag.any? %>
              <div class="colorful-tags">
                <% Tag.all.each do |tag| %>
                  <div class="form-check form-check-inline">
                    <%=check_box("tags", tag.id, { :class=>"form-check-input colorful-checkbox", :checked => false, :style => "margin: auto 2px auto 2px;" })%>
                    <%=label_tag "tags_#{tag.id}", "##{tag.name}"%>
                  </div>
                <% end %>
              </div>
            <% else %>
              <p><%= I18n.t("posts.tags_not_found") %></p>
            <% end %><br><br>
            <div class="form-inline">
              <div class="form-group">
                <%= f.text_field :new_tags_name, size: 20, class: "form-control", autofocus: true, placeholder: I18n.t("posts.new_tags") %>
                <div class="colorful-checkboxes" style="display: inherit">
                  <%= f.check_box(:new_tags_enabled_by_default, { :class=>"colorful-checkbox", :checked => true }) %>
                  <%= f.label :new_tags_enabled_by_default, I18n.t("tags.by_default") %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%= link_to "<--- #{I18n.t("posts.back")}", posts_path, data: { confirm: "#{I18n.t("posts.back_confirm")}" }%>
      <center><%= f.submit %> </center>
    <% end %>
  </div>
</body>

<%= javascript_include_tag 'application.js', "data-turbo-track": "reload" %>
<%= javascript_include_tag 'showdown.min.js', "data-turbo-track": "reload" %>
<%= javascript_include_tag 'run_showdown.js' %>