<body id="bg">
  <div class="posts-container">
    <%= render partial: "posts/links_header", locals: { post: @current_post } %>
    <article>
      <%= render partial: "posts/post_header", locals: { post: @current_post } %>
      <%= display_attachments(@current_post) if @current_post.content_attachments.present? %>
      <div class="posts-content"><%= markdown(@current_post.text) %></div>
      <hr style="border-top: dashed 2px;" />
      <% item_tags = @current_post.active_tags %>
      <% if item_tags.any? %>
        <ul class="tags" itemprop="keywords">
          <% item_tags.each do |item_tag| %>
            <li><a href="<%="/posts?tags=#{item_tag.tag.id}"%>">#<%= item_tag.tag.name %></a></li>
          <% end %>
        </ul>
      <% else %>
        <center><%= I18n.t("posts.tags_not_found") %></center>
      <% end %>
    </article>
  </div>
  <%= render "comments" %>
</body>