<body id="bg">
  <div class="posts-container">
    <center>
      <%= link_to "#{I18n.t("posts.profile")} |", edit_user_path %>
      <%= link_to I18n.t("posts.main_page"), root_path%>
      <%= link_to "| #{I18n.t("posts.all_posts")}", posts_url%>
      <%= link_to "| #{I18n.t("posts.add_post")}", posts_new_path if current_user.present? && current_user.is_admin%>
      <%= link_to "| #{I18n.t("posts.import")}", import_post_path if current_user.present? && current_user.is_admin%>
    </center>
    <article>
      <header>
        <h1>
          <i class="fa fa-commenting-o right-small comments"> <%= @post.comments.count %></i>
          <a href="/posts/<%= @post.id %>"><%= @post.title.present? ? @post.title : "##{@post.id}" %></a>
            <%= render "privacy-icons", object: @post %>
            <% if @post.get_content_attachments.present? && @post.get_content_attachments.select{ |b| !b.image? && !b.video? && !b.audio? }.any? %>
            <a> <i class="fa fa-file left-small"></i> </a>
            <% end %>
          <h1 class="dashed-line"></h1>
        </h1>
        <p class="metadata"><i class="fa fa-clock-o"> <%= I18n.t("posts.publish_date") %>: <%= @post.created_at.strftime("%Y.%m.%d %H:%M") %></i></p>
        <p class="metadata">
          <i class="fa fa-user-circle"> <%= I18n.t("posts.author") %>: <a href="/posts?user=<%=@post.user.login%>"><%= @post.user.login %></a>
            <% if current_user == @post.user %>
              | <a href="<%=@post.id%>/edit"><%= I18n.t("posts.edit_post") %></a>
              | <a href="/posts/delete/<%=@post.id%>" data-confirm="<%= I18n.t("posts.delete_post_confirm") %>"><%= I18n.t("posts.delete_post") %></a>
              | <a href="/posts/export/<%=@post.id%>"><%= I18n.t("posts.export") %></a>
            <% end %>
          </i>
        </p>
      </header>
      <%= display_attachments(@post) if @post.get_content_attachments.present? %>
      <div class="posts-content"><%= markdown(@post.get_content) %></div>
      <hr style="border-top: dashed 2px;" />
      <% item_tags = @post.active_tags %>
      <% if item_tags.any? %>
        <ul class="tags" itemprop="keywords">
          <% item_tags.each do |item_tag| %>
            <li><a href="<%="/posts?tags=#{item_tag.tag.id}"%>">#<%= item_tag.tag.name %></a></li>
          <% end %>
        </ul>
      <% else %>
        <center><%= I18n.t("posts.tags_not_found") %></center>
      <% end %>
    </article>
  </div>
  <%= render "comments" %>
</body>