<body style="background: #181a1b;">
  <div class="posts-container">
    <article>
      <header>
        <h1>
          <a href="/posts/<%= @post.id %>"><%= @post.title %></a>
        </h1>
        <p class="metadata"><i class="fa fa-clock-o"> Дата публикации: <%= @post.created_at.strftime("%d.%m.%y %H:%M") %></i></p>
        <p class="metadata">
          <i class="fa fa-user-circle"> Автор: <a href="posts?user=<%=@post.user.login%>"><%= @post.user.login %></a>
            <% if current_user == @post.user %> | <a href="<%=@post.id%>/edit">Редактировать</a> | <a href="/posts/delete/<%=@post.id%>" data-confirm="Are you sure?">Удалить статью</a><% end %>
          </i>
        </p>
      </header>
      <div class="posts-content"><%= markdown(@post.get_content) %></div>
    </article>
    <center>
      <%= link_to 'На главную', root_path%>
      <%= link_to '| Добавить статью', posts_new_path if current_user.is_admin%>
    </center>
  </div>
</body>