<!DOCTYPE html>
<html>
  <head>
    <title><%=Rails.configuration.credentials[:title]%></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "#{current_theme}", media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice %><p class="alert alert-center alert-success" role="alert"><%= notice %></p><% end %>
    <% if alert %><p class="alert alert-center alert-danger" role="alert"><%= alert %></p><% end %>
    <%= yield %>
  </body>
  <link href="/rss" rel="alternate" title="RSS feed" type="application/rss+xml">
  <footer>
    Copyright (c) 2020-2023 | by <a target="_blank" href="https://github.com/Whiletruedoend/">wtde</a> | <a target="_blank" href="https://github.com/Whiletruedoend/Twilight/blob/master/LICENSE">GNU GPL v3</a> | <a target="_blank" href="https://github.com/Whiletruedoend/Twilight/">Source</a>
  </footer>
</html>

<%= javascript_include_tag 'notifications.js', "data-turbo-track": "reload" %>