<!DOCTYPE html>
<html>
  <head>
    <title><%=Rails.configuration.credentials[:title]%></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "#{current_theme}", media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
  <p class="alert need2hide"><%= alert %></p>
  <p class="notice need2hide"><%= notice %></p>
  <link href="/rss" rel="alternate" title="RSS feed" type="application/rss+xml">
  <footer>
    Copyright (c) 2020-2021 | by <a target="_blank" href="https://github.com/Whiletruedoend/">wtde</a> | <a target="_blank" href="https://github.com/Whiletruedoend/Twilight/blob/master/LICENSE">GNU GPL v3</a> | <a target="_blank" href="https://github.com/Whiletruedoend/Twilight/">Source</a>
  </footer>
</html>