<!DOCTYPE html>
<html>
<head>
  <%= display_meta_tags site: Rails.configuration.credentials[:title] %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "#{current_theme}", media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <%= yield %>
</body>

</html>