<div class="form-inline">
  <h3>RSS</h3>
  <div class="form-group">
    <label><%="#{I18n.t("edit.token")}:"%></label>
    <input type="text" size="28" class="form-control" id="token_field" readonly value="<%= current_user.rss_token || "#{I18n.t("edit.token_not_generated")}" %>">
  </div>
  <button onclick="copy()" type="submit" class="btn btn-primary"><%= I18n.t("edit.copy") %></button>
</div>

<br>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <div class="form-inline">
    <%= f.label "#{I18n.t("edit.rss_visible_posts")}:" %>
    <%= f.fields :options, model: f.object.options do |field| %>
      <%= field.text_field :visible_posts_count, class: "form-control", size: 1, value: f.object.options.dig("visible_posts_count") || Rails.configuration.credentials[:rss_default_visible_posts], data: { numeric: true } %>
      <i>(<%=I18n.t("edit.max")%>: <%=Rails.configuration.credentials[:rss_max_visible_posts]%>)</i>
      <br><br>
      <%= field.label "#{I18n.t("edit.theme")}:" %>
      <%= field.select :theme, Twilight::Application::THEMES.map{ |s| [s.split('_theme')[0].capitalize, s] }.sort, :selected => (current_user.options.dig("theme") || "default_theme") %>
    <% end %>
  </div>

  <div class="col-xs-6 col-sm-12 col-md-12">

    <%= render "users/shared/error_messages", resource: resource %>
    <h3><%="#{I18n.t("edit.main_information")}"%></h3>

    <div class="container-fluid mt-3">
        <div class="form-row">

          <center>
            <div class="col-sm-2">
              <label for="user_avatar">
                <%= f.file_field :avatar, { style: "display:none;" } %>
              <div class="user-avatar" style="margin-bottom: 3%;">
                <% if current_user.avatar.present?%>
                  <%= image_tag url_for(current_user.avatar) %>
                <% end %>
              </div>
              </label>
            </div>
          </center>

          <div class="form-group col-sm-4">
            <%= f.label I18n.t("edit.login") %>
            <%= f.text_field :login, class: "form-control", autofocus: true, autocomplete: "login" %>
          </div>
          <div class="form-group col-sm-6">
            <%= f.label I18n.t("edit.current_password") %> <i><%= I18n.t("edit.password_confirm") %></i>
            <%= f.password_field :current_password, class: "form-control", autocomplete: "current-password" %>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-sm-4">
            <%= f.label I18n.t("edit.password") %>
            <i>
              <% if @minimum_password_length %>
                (<%= @minimum_password_length %> <%=I18n.t("edit.sym_minimum")%>)
              <% end %>
            </i>
            <%= f.password_field :password, class: "form-control", autocomplete: "new-password" %>
          </div>
          <div class="form-group col-sm-6">
            <%= f.label I18n.t("edit.password_confirmation") %>
            <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password" %>
          </div>
        </div>

        <div class="form-group col-sm-6">
          <%= f.submit I18n.t("edit.update"), class: "col-sm-4  actions btn btn-primary" %>
        </div>
    </div>
  </div>

<% end %>

<div class="form-group col-xs-6 col-sm-12 col-md-12">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <h3><%= I18n.t("edit.personal_tags") %></h3>

    <div class="form-group">
      <%= f.label I18n.t("edit.current_password") %> <i><%= I18n.t("edit.password_confirm") %></i>
      <%= f.password_field :current_password, class: "form-control", autocomplete: "current-password", value: resource.current_password %>
    </div>

    <div class="field">
        <%= f.label I18n.t("edit.tags") %><br />
      <div class="colorful-tags">
        <% ItemTag.where(item:current_user).each do |item_tag| %>
          <div class="form-check form-check-inline">
            <%=check_box("tags", item_tag.tag.id, { :class=>"form-check-input colorful-checkbox", :checked => item_tag.enabled, :style => "margin: auto 2px auto 2px;" })%>
            <%=label_tag "tags_#{item_tag.tag.id}", "##{item_tag.tag.name}"%>
          </div>
        <% end %>
      </div>
    </div><br />
      <%= f.submit I18n.t("edit.update_tags"), class: "actions btn btn-primary" %>
  <% end %>
</div>