<h2>/home/<%= current_user.login %>/</h2>

<div class="block">
  rss_token: <br><input type="text" size="27" value="<%= current_user.rss_token || "Token not generated!" %>" id="token_field" readonly>
  <button onclick="copy()">Copy</button>
</div>

<div class="tags-right">
  <div class="block-tags">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :current_password %><br />
        <%= f.password_field :current_password, autocomplete: "current-password" %>
      </div>

    <div class="field">
      <%= f.label :tags %><br />
      <% ItemTag.where(item:current_user).each do |item_tag| %>
        <%=check_box("tags", item_tag.tag.id, {:checked => item_tag.enabled})%><%=item_tag.tag.name%>
      <% end %>
    </div>

    <br><div class="actions">
  <%= f.submit "Update tags" %>
</div>
  <% end %>
  </div>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="block">
    <br><div class="field">
      <%= f.label :login %><br />
      <%= f.text_field :login, autofocus: true, autocomplete: "login" %>
    </div>

    <div class="field">
    <%= f.label :current_password %> <i>(enter your current password to confirm changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
    </div>

    <br><div class="field">
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <br><div class="actions">
      <%= f.submit "Update" %>
    </div>
  <% end %>
  </div>

<div class="block">
  <h3>Cancel my account</h3>

  <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure? All posts will be deleted (not from platforms) and can't be recovered!" }, method: :delete %></p>
  <br>
</div>
<p><%= link_to "<--- Main page", root_path %></p>

<script>
    function copy() {
        var copyText = document.getElementById("token_field");

        copyText.select();
        copyText.setSelectionRange(0, 99999); /*For mobile devices*/

        document.execCommand("copy");
    }
</script>
