<div class="row">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

    <div class="col-xs-12 col-sm-4 col-md-4 col-sm-offset-3 col-md-offset-4">
      <h2><%=I18n.t("auth.sign_up_header")%></h2>
      <hr>
      <div class="form-group">
        <%= f.text_field :login, { class: "form-control input-lg", autofocus: true, autocomplete: "login", placeholder: "Login" } %>
      </div>
      <div class="row">
        <% if @minimum_password_length %>
          <div class="col-xs-8 col-sm-4 col-md-9">
            (<%= @minimum_password_length %> characters minimum)
          </div>
        <% end %>
        <div class="col-xs-12 col-sm-4 col-md-6">
          <div class="form-group">
            <%= f.password_field :password, { class: "form-control input-lg", autocomplete: "new-password", placeholder: "Password"} %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-6">
          <div class="form-group">
            <%= f.password_field :password_confirmation, { class: "form-control input-lg",  autocomplete: "new-password", placeholder: "Confirm Password" } %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-6">
          <div class="form-group">
            <%= f.text_field :captcha, { class: "form-control input-lg", placeholder: "Captcha" } %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-6">
          <div class="form-group">
            <center><%= captcha_tag %></center>
          </div>
        </div>
      </div>
      <% if Rails.configuration.credentials[:invite_codes_register_only] %>
        <div class="form-group">
          <input class="form-control input-lg" autofocus="autofocus" placeholder="Enter invite code..." type="text" name="user[code]" id="user_code">
        </div>
      <% end %>
      <hr>
      <center> <%= f.submit I18n.t("auth.sign_up_button"), class: "btn btn-primary btn-lg" %> </center>
    </div>
  <% end %>
</div>

<center><br/>
  <p>
    <%= link_to "<--- #{I18n.t("posts.main_page")}", root_path %> | <%= link_to "#{I18n.t("edit.sign_in")}", sign_in_path %>
  </p>
</center>

<%= javascript_include_tag 'application.js' %>
<%= javascript_include_tag 'notifications.js', "data-turbo-track": "reload" %>